html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  color:white;
}

body {
  margin-bottom: 60px;
  background:black;
}

a{
    color: white !important;
}

li{
    color:white !important;
}