@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search for film..." aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
</div>
<div class="row">
    @foreach (var item in Model.Movie)
    {
        <div class="card my-2 mx-2" style="width: 18rem;">
            <img class="card-img-top" src="@($"https://www.themoviedb.org/t/p/w440_and_h660_face{@item.poster_path}")" alt="Card image cap">
            <div class="card-body d-flex flex-column justify-content-between">
                <strong>@item.title</strong>
                <a type="button" class="btn btn-danger my-2" asp-page="./Party" asp-route-name="@item.original_title">Watch</a>
            </div>
        </div>
    }
</div>

<style>
    .card {
        cursor: pointer;
    }
</style>






